.site-button {
    display: inline-block;
    padding: 2px;
    clip-path: polygon(10% 0%, 90% 0%, 100% 30%, 100% 70%, 90% 100%, 10% 100%, 0% 70%, 0% 30%);
}
.button-red {
    background-color: maroon;
}
.button-red:hover {
    background-color: snow;
}
.button-white {
    background-color: snow;
}
.button-white:hover {
    background-color: salmon;
}

.site-button-inner {
    font-weight: 700;
    padding: 5px 10px;
    clip-path: polygon(10% 0%, 90% 0%, 100% 30%, 100% 70%, 90% 100%, 10% 100%, 0% 70%, 0% 30%);
}
.button-red-inner {
    background-color: maroon;
    color: snow;
}
.button-white-inner {
    background-color: snow;
    color: rgb(86, 86, 86)
}