body {
    margin: 0;
    padding: 0;
}
#root {
  background-color: #0C0C0C;
  color: #C0C0C0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}
